*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(../imgInventario/Fondo.PNG);
}

.contenedor{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 130px;
    display: grid;
    grid-template-columns: 230px 1000px;
    grid-template-areas: 
        "nav section"
        ;
    justify-content: center;
    align-items: center;
}

nav{
    padding: 0px 0px 450px;
    grid-area: nav;
    background-color: #75CFB8;
    display: flex;
    border-radius: 50px;
    justify-content: space-around;
    text-align: center;
}

nav img{
    padding-top: 40px;
    align-items: self-start;
    width: 150px;
}

.cubo1{
    padding: 50px 0;
}

.cubo1 li{
    padding: 20px 0;
}

.cubo1 li a h2{
    border-radius: 50px;
    background-color: #BBDFC8;
}

.cubo1 li a h2:hover{
    background-color: #FFD495;
    transform: scale(1.1);
}


.cubo1 a{
    color: black;
}


section{
    grid-area: section;
    background-color: white;
    border-radius: 50px;
}

.imgw{
    padding: 2% 40% 4%;
}


.contenerarriba{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: #BBDFC8;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

table{
    margin-right: 30px;
    margin-left: 40px;
    border-collapse: collapse;
    margin-bottom: 40px;
}

table img{
    border-radius: 50px;
    width: 90px;
}

th{
    padding: 10px;
    border: solid black;
}

thead{
    font-size: 25px;
    background-color: #FFD495;
}

tbody{
    text-align: center;
}

footer{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: #BBDFC8;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

tfooter{
    background-color: hotpink;
}

footer a{
    color: black;
}