*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #F2F0F0;
}

header{
    width: 100%;
    background-color: #75CFB8;
    position: fixed;
    z-index: 100;
}

header.woop{
    background-color: #75CFB8;
}

.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.logo{
    float: left;
    padding: 9px 30px 0;
}
.logo img{
    height: 70px;
    border-radius: 100px;
}
.logo img:hover{
    transform: scale(1.1);
}
.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion ul{
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}
.navegacion ul li:hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    padding: 12px 30px;
    transition: .3s linear;
}
.navegacion ul li a:hover{
    transform: scale(1.1);
}

.buscar2{
    width: 600px;
    height: 40px;
    margin: 0px ;
    padding: 0 20px;
    font-size: 25px;
    color: black;
    outline: none;
    border-radius: 100px;
}

.estamos{
    background-color: #FFD495;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }


/* menu 2*/

.otronav{
    display: flex;
    padding-top: 90px;
    margin-left: 420px;
    margin-right: 420px;
    justify-content: center;
}

.menudos{
    list-style-type: none;
    overflow: hidden;
    background-color: #FAAB78;
    font-size: 20px;
    padding-left: 110px;
    padding-right: 110px;
}

.ill{
    display: flex;
    float: left;
    justify-content: center;
}

.ill a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.ill a:hover {
    background-color: #111;
}

/* parte arriba cata*/

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }
 
 .container .title{
    font-size: 3.5rem;
    color:#444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 }
 
 .container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
 }
 
 .container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }
 
 .container .products-container .product img{
    height: 25rem;
 }
 
 .container .products-container .product:hover img{
    transform: scale(.9);
 }
 
 .container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#444;
 }
 
 .container .products-container .product:hover h3{
    color: black;
    text-decoration: underline;
 }
 
 .container .products-container .product .price{
    font-size: 2rem;
    color:#444;
 }
 
 .products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 4;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 40rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#FAAB78;
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#FAAB78;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 
 html{
    font-size: 55%;
 }

 @media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }

 .filtro{
    display: none;
}

/*slider*/

.carrousel{
    margin-top: 30px;
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 720px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
    z-index: 1;
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 60px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.conteCarrouselController > a:hover{
    text-decoration: underline;
}

.itemCarrouselArrows > a > i{
    color: black;
}


/*preguntas*/

#btn-mas{
    display: none;
}

.footener{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
}

.ques ul{
    display: block;
    list-style: none;
    background-color: #F0E5D8;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 4%;
}

.lineacentral{
    text-align: center;
}

.ques ul li h1{
    text-align: center;
}

.ques ul li h3{
    padding-left: 20px;
}

.ques ul li p{
    padding-left: 40px;
    padding-right: 40px;
}

.ques{
    opacity: 0;
    visibility: hidden;
}

.btn-mas{
    display: block;
    font-size: 60px;
    float: right;
}

#btn-mas:checked~ .ques{
    opacity: 1;
    visibility: visible;
}

label{
    cursor: pointer;
}


/*parte*/

.abajo{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    font-size: 15px;
}

.abajosec{
    margin-top: 30px;
    background-color: #FFD495;
    display: flex;
    justify-content: space-between;
    padding: 20px 220px;
}

.abajosec h1 {
    font-size: 32px;
    text-align: center;
    text-decoration: none;
}


.abajosec p{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.abajosec ul li{
    font-size: 15px;
    list-style: none;
    text-align: center;
}

.tired{
    text-align: center;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.tired i{
    color: black;
    font-size: 30px;
}

.proveer{
    margin-top: 50px;
}

.mapa iframe:hover{
    transition: .3s linear;
    transform: scale(1.1);
}

.tired:hover{
    transition: .3s linear;
    transform: scale(1.1);
}

iframe{
    border-radius: 20px;
}
