*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue;
    text-decoration: none;
    list-style: none;
}
  
body{
    background-image: url(../imgIngreso/Fondo.PNG);
    display: flex;
    margin: 80px 20px 80px 20px;
    justify-content: center;   
}

.wop{
    z-index: 1;
    margin-left: 470px;
}

section form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
    align-items: center;
}

.img{
    border-radius: 50px;
    margin-top: 70px;
}

label{
    font-size: 80px;
    margin-left: 130px;
    margin-right: 80px;
}

.fa-key{
    top: 265px;
}

.fa-unlock{
    top: 375px;
}

i{
    position: absolute;
    left: 610px;
}


label input{
    color: black;
    background-color: #BBDFC8;
    margin-top: 50px;
    width: 460px;
    border-radius: 50px;
    border-color: #BBDFC8;
    padding-left: 80px;
    font-size: 35px;
}

::placeholder{
    color: rgb(71, 69, 69);
    font-size: 35px;
    text-decoration: dotted;
}

.olvido{
    color: black;
    text-decoration: underline;
    padding-top: 20px;
}

.ingreso{
    background-color: #75CFB8;
    font-size: 35px;
    border-radius: 50px;
    color: white;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    cursor: pointer;
}

.pa{
    display: flex;
}

.pa p{
    margin-right: 20px;
    margin-top: 50px;
}

.pa a{
    background-color: #FAAB78;
    font-size: 35px;
    border-radius: 50px;
    color: white;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
}

.fondiu{
    border-radius: 50px;
    position: relative;
    width: 1000px;
    background-color: #75CFB8;
    left: -750px;
    top: 50px;
}


.showhidepw{
    font-size: 30px;
    top: 415px;
    left: 1020px;
    color: rgb(71, 69, 69);
    cursor: pointer;
}

.showhidepw:hover{
    color: black;
    cursor: pointer;
}